{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
		<script type="application/javascript" src="https://unpkg.com/jquery@3.2.0"></script> 
			<!-- Compressed CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
		
		<!-- Compressed JavaScript -->
		<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{% static 'post_styles.css' %}">
		<title>Blog Post</title>
	</head>

	<body>
		<h1>
			Megahypeblog
		</h1>
		<div class="main">

			<div class="post">

				<h2 class="post_id">ID: {{post.id}}</h2>
				<p class="post_title">{{post.title}}</p>
				<p class="post_message">{{post.message}}</p>
				<p class="post_date"> {{post.date}}</p>
			</div>
			<div class="reveal" id="modal" data-reveal>
				<h3>Oops!</h3>
				<p>Looks like you entered invalid data</p>
				<button class="close-button" data-close aria-label="Close modal" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="http://127.0.0.1:8000/comment/" method="POST">
				<div class="comment_input">
					{% csrf_token %}
					<h3 class="new_comment">New comment: </h3>
					<select name="post_id" class="post_id_input">
						<p>Post ID</p>
						<option value="{{post.id}}">{{post.id}}</option>
					</select>
		
					<div>
						<textarea class="comment_message_input" name="message" placeholder="Message"></textarea>
					</div>
					<div>
					  	<input type="submit" class="button success" value="Comment">
					</div>
				</div>
			</form>
		
			<script type="application/javascript" src="{% static 'comment_submit.js' %}"></script>
		
			<div class="comments">
				<h4 class = comments_num>Comments: {{comments|length}}</h4>
				{% for comment in comments %}

				<div class="comment">
					<p class="comment_id">Comment ID: {{comment.id}}</p>
					<p class="comment_message">{{comment.message}}</p>
					<p class="comment_date">{{comment.date}}</p>
				</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>